body{
	margin: 0px;
	padding: 0px;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.wrapper{
	height: 110vh;
	width: 100%;
	background: rgba(60,60,60,0.2);
}
#box{
	height: 200px;
	width: 1000px;
	background: #2D2D2D;
	border-radius: 5px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
#main{
	height: 600px;
	width: 450px;
	background: white;
	border-radius: 5px;
	position: absolute;
	top: 50%;
	left: 70%;
	transform: translate(-50%,-50%);
	z-index: 99;
	box-shadow: 0px 5px 10px rgba(60,60,60,0.9);
}
#loginform,#signupform{
	position: absolute;
	top: 50%;
	left: 70%;
	transform: translate(-50%,-50%);
	z-index: 999;
}
#signupform{
	top: 45%;
	left: 75%;
	visibility: hidden;
}
#loginform h1,#signupform h1{
	font-family: arial;
	font-size: 25px;
	color: #0C396B;
}
#loginform input,.form-input input{
	height: 40px;
	width: 300px;
	border: 0px;
	outline: none;
	border-bottom: 1px solid black;
	margin: 5px;
	position: relative;
}
#signupform button{
	height: 35px;
	width: 130px;
	background: #0C396B;
	font-family: monospace;
	font-size: 16px;
	color: white;
	border: none;
	outline: none;
	margin-top: 30px;
	margin-left: 175px;
}
#login_btn,#signup_btn{
	height: 35px;
	width: 120px;
	background: transparent;
	color: white;
	border: 1px solid white;
	border-radius: 5px;
	outline: none;
	position: absolute;
	left: 75%;
	top: 65%;
	transform: translate(-50%,-50%);
	transition: all .5s;
}#signup_btn{
	left: 25%;
}
#login_btn:hover,#signup_btn:hover{
	background: white;
	color: #2d2d2d;
	cursor: pointer;
}
#login,#signup{
	font-family: arial;
	font-size: 25px;
	color: white;
	position: absolute;
	top: 35%;
	left: 75%;
	transform: translate(-50%,-50%);
	z-index: 5;
}
#signup{
	left: 25%;
}
.form-input input[type="radio"]{
	height: 20px;
	width: 20px;
	border: 0px;
	outline: none;
	margin-top: 15px;
	margin: 5px;
	background: transparent;
}
#a{
	margin-left: 50px;
}
#facebook{
	background: #3B5998;
	color: #fff;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
	height: 40px;
	width: 300px;
	margin: 5px;
}
#gmail{
	background: #ED1C16;
	color: #fff;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
	height: 40px;
	margin: 5px;
	width: 300px;
}
#btn{
	background: #0C396B;
	color: #fff;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
	height: 40px;
	margin: 5px;
	width: 300px;
	margin-top: 20px;
}
.form-input #z{
	margin: 5px;
	position: absolute;
	top: 15px;
	pointer-events: none;
	left: 0;
	color: #2d2d2d;
	transition: all .5s ease;
}
.form-input{
	position: relative;
}
.form-input input:focus ~ #z,
.form-input input:valid ~ #z{
	top: -13px;
	left: 0;
	color: #0C396B;
	font-size: 20px;
	font-weight: bold;
}
.flashdata{
	color:red;
	font-size:26px;
}